.die {
    background: white;
    width: calc(30px + 1.4vw);
    height: calc(30px + 1.4vw);
    border-radius: 0.5rem;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    cursor: pointer;
}

.die.held {
    background-color: rgba(89, 227, 145, 1);
}