.record-container {
    color: rgb(111,111,111);
    
    font-size: 0.8em;
    width: calc(260px + 13vw);
    padding: 10px;
}

.record-title {
    margin-top: 0;
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 1rem;
}

.records {
    display: flex;
    justify-content: space-between;
}