

* {
    box-sizing: border-box;
}

body {
    background-color: rgba(11, 36, 52, 1);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

main {
    width: 92vw;
    height: 92vh;
    background-color:rgba(245, 245, 245, 1);
    margin-top: 4vh;
    border-radius: 5px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 40px;
    margin-bottom: 0;
}

.instructions {
    max-width: 400px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 35px;
}

.dice-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: calc(18px + 0.6vw);
}

button {
    margin-top: 35px;
    width: 100px;
    height: 48px;
    border-radius: 5px;
    border: none;
    background-color: rgb(80, 53, 255);
    color: white;
    cursor: pointer;
    transition: 0.2s;
    font-size: 1.2em;
}

button:hover {
    box-shadow: 3px 3px 3px rgba(80, 53, 255, 0.3),
                -3px 3px 3px rgba(80, 53, 255, 0.3),
                3px -3px 3px rgba(80, 53, 255, 0.3),
                -3px -3px 3px rgba(80, 53, 255, 0.3);
}

button:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}